<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Cookies Test</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <script src="app.js"></script>
   <script src="floater.js"></script>
</head>
<body>
   <h1>Cookies Test</h1>

   <h2>Host: <b><%= host %></b></h2>
   <input type="hidden" id="otherport" value="<%= otherport %>"/>
   <input type="hidden" id="otherhost" value="<%= otherhost %>"/>
   <div>
      <h2>Cookies</h2>
      <ul>
         <% cookies.forEach(function(cookie) { %>
            <li><%= cookie.name %> = <b><%= cookie.value %></b></li>
         <% }); %>
      </ul>
   </div>

   <div>
      <div>
         <label>Cookie Name:</label>
         <input type="text" id="cookiename" maxlength="50" />
      </div>
      <div>
         <label>Cookie Value:</label>
         <input type="text" id="cookievalue" maxlength="50" />
      </div>
      <div>
         <button type="button" id="setcookiebutton">Set Cookie on <%= otherhost %></button>
      </div>
      <div>
         <button type="button" id="refreshbutton">Refresh</button>
      </div>
   </div>

   <div 
      id="floater-app"
      class="floater"
      data-lang="en"
      data-flag="true"
      data-mode="Testing"
      data-pi="3.141592654">

</div>
</body>
</html>
